.apposition {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0;
    max-width: 1920px;
    height: 100vh;
    margin: 0 auto;
    z-index: 10;
    background-color: var(--color-balticSea);
    padding: 30px 111px 0;
    pointer-events: none;
    transform: translate(-100%);
    transition: all 1s linear, opacity 1.1s linear;
    display: flex;
    justify-content: space-between;
    opacity: 0;

    &-active {
        opacity: .8;
        transform: translate(0%);
        transition: all 1s linear, opacity 1.1s linear;
        pointer-events: auto;
    }

    .apposition-active .header-btn {
        opacity: 0;
    }

    &-btn {
        display: flex;
    }

    &-menu {
        padding-top: 105px;

        &__list {
            display: inline-flex;
            flex-direction: column;
        }

        &__title {
            font-size: 60px;
            line-height: 88px;
            text-transform: uppercase;
            color: var(--color-mongoose);
            font-family: 'Scheherazade New', serif;
            margin-bottom: 25px;
        }

        &__nav {
            padding-left: 30px;
        }

        &__item a {
            font-size: 24px;
            line-height: 29px;
            position: relative;
            transition: margin-left .5s ease;
        }
        
        &__item:not(:last-child) {
            margin-bottom: 30px;
        }

        &__item a::before {
            content: '';
            position: absolute;
            width: 8px;
            height: 8px;
            background: var(--color-mongoose);
            box-shadow: 0px 0px 20px #BBA182;
            border-radius: 100%;
            top: 50%;
            transform: translateY(-50%);
            opacity: 0;
            left: -30px;
        }

        &__item a:hover {
            margin-left: 30px;
            transition: margin-left .5s ease;
        }

        &__item a:hover::before {
            opacity: 1;
        }
    }
}

.apposition-active .header-burger button {
    opacity: 0;
}

.header {
    padding-top: 18px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    margin: 0 auto;
    z-index: 2;

    &-burger__img {
        margin-top: 5px;
    }

    &-container {
        @include flex-all-sb;
        padding-top: 18px;
    }

    .logo-box {
        display: flex;
        max-width: 421px;
        padding-top: 13px;

        .logo {
            margin-right: 20px;
        }

        &__descr {
            font-size: 14px;
            line-height: 17px;
            color: var(--color-width);
        }
    }

    &-nav {
        width: 522px;
        padding-top: 16px;

        &__list {
            @include flex-all-sb;
        }

        &__link a {
            font-size: 17px;
            line-height: 21px;
            color: var(--color-width);
        }
    }
    &-tel{
        @include flex-v-center;
        
        .pulse {
            width: 30px;
            height: 30px;
            text-align: center;
            border-radius: 100%;
            position: relative;
            z-index: 2;
            top: 8px;
        }

        .pulse::before,
        .pulse::after {
            content: '';
            position: absolute;
            border-left: 1px solid var(--color-mongoose);
            border-top: 1px solid var(--color-mongoose);
            border-bottom: 1px solid var(--color-mongoose);
            border-right: 1px solid  var(--color-balticSea);
            left: -20px;
            right: -20px;
            top: -20px;
            bottom: -20px;
            border-radius: 50%;
            animation: pulse 2s linear infinite;
        }   

        .pulse::after {
            animation-delay: 1s;
        } 
        
        .tel-icon {
            width: 22px;
            height: 22px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        
        &__box {
            @include flex;
            margin-left: 10px;
        }

        &__text {
            font-size: 12px;
            line-height: 15px;
            color: var(--color-width);
        }

        &__box a {
            font-size: 17px;
            line-height: 21px;
            color: var(--color-width);
        }
    }

    &-watsapp {
        display: flex;
        align-items: center;
        cursor: pointer;
        position: relative;

        &__menu {
            margin-top: 5px;
            padding: 3px 5px 5px 5px;
            position: absolute;
            top: 40px;
            width: 150px;
            text-align: center;
            left: -15px;
            line-height: 15px;
            pointer-events: none;
            

            span {
                color: var(--color-balticSea);
                font-size: 14px;
                opacity: 0;
                pointer-events: none;
            }
        }

        &__text {
            margin-left: 14px;
            color: var(--color-width);
            font-size: 17px;
            line-height: 142.4%;
        }
    }

    &-watsapp:hover .header-watsapp__menu span {
        animation: blink 1.5s ease-in-out infinite;
        animation-direction: alternate;
        opacity: 1;
        pointer-events: auto;
    }

    @keyframes blink {
        0% {
            color: var(--color-balticSea);
        }
    
        100% {
            color: rgb(255, 255, 255);
        }
    }

    .header-watsapp__menu::before,
    .header-watsapp__menu::after {
        content: '';
        width: 100%;
        height: 1px;
        background: red;
        position: absolute;
        left: 0;
        transition: transform .7s;
    }

    .header-watsapp__menu::before {
        top: -1px;
        transform: scaleX(0);
        transform-origin: left;
    }

    &-watsapp:hover .header-watsapp__menu:before {
        transform: scaleX(1);
        transform-origin: right;
    }

    .header-watsapp__menu::after {
        bottom: 0px;
        transform: scaleX(0);
        transform-origin: right;
    }

    &-watsapp:hover .header-watsapp__menu:after {
        transform: scaleX(1);
        transform-origin: left;
    }

    .header-watsapp__menu div::before,
    .header-watsapp__menu div::after {
        content: '';
        width: 1px;
        height: 100%;
        background: red;
        position: absolute;
        top: 0;
        transition: transform .5s;
    }

    .header-watsapp__menu div::before {
        left: 0;
        transform: scaleY(0);
        transform-origin: bottom;
    }

    &-watsapp:hover .header-watsapp__menu div::before {
        left: 0;
        transform: scaleY(1);
        transform-origin: top;
    }

    .header-watsapp__menu div::after {
        right: 0;
        transform: scaleY(0);
        transform-origin: top;
    }

    &-watsapp:hover .header-watsapp__menu div::after {
        right: 0;
        transform: scaleY(1);
        transform-origin: bottom;
    }

    &-burger button {
        background: var(--color-width);
        border-radius: 100%;
        width: 60px;
        height: 60px;
        position: relative;
    }

    &-burger img{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50% , -50%);
    }
}

@keyframes pulse {
0% {
    transform: scale(0.4);
    opacity: 1;
}
50% {
    opacity: 0.5;
}
100% {
    transform: scale(1);
    opacity: 0;
}
}  
