<header class="header">
<div class="container header-container">

    <div class="apposition">
    <div class="apposition-menu">
        <div class="apposition-menu__title">
        меню
        </div>
        <nav class="apposition-menu__nav">
        <ul class="apposition-menu__list list-reset">
            <li class="apposition-menu__item"><a href="#">Главная</a></li>
            <li class="apposition-menu__item"><a href="#">Проекты</a></li>
            <li class="apposition-menu__item"><a href="#">Расчет стоимости</a></li>
            <li class="apposition-menu__item"><a href="#">Наши преимущества</a></li>
            <li class="apposition-menu__item"><a href="#">Контакты</a></li>
        </ul>
        </nav>
    </div>
    
    <button class="btn-reset apposition-btn">
        <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 30C0 13.4315 13.4315 0 30 0C46.5685 0 60 13.4315 60 30C60 46.5685 46.5685 60 30 60C13.4315 60 0 46.5685 0 30Z" fill="white"/>
        <rect x="43.8574" y="31.8569" width="26" height="3" rx="1.5" transform="rotate(-180 43.8574 31.8569)" fill="#BBA182"/>
        <rect x="25.7363" y="38.8569" width="12.3544" height="3" rx="1.5" transform="rotate(-135 25.7363 38.8569)" fill="#BBA182"/>
        <rect x="27.8574" y="23.1211" width="12.3544" height="3" rx="1.5" transform="rotate(135 27.8574 23.1211)" fill="#BBA182"/>
        </svg>
    </button>
    </div>

    <div class="logo-box">
    <img src="img/LOGOTYPE.svg" alt="logoImg" class="logo">
    <p class="logo-box__descr">
        Проектирование и строительство 
        домов в Санкт-Петеррбурге и ЛО
    </p>
    </div>

    <nav class="header-nav">
    <ul class="header-nav__list list-reset">
        <li class="header-nav__link"><a href="#">Проекты</a></li>
        <li class="header-nav__link"><a href="#">Расчет стоимости</a></li>
        <li class="header-nav__link"><a href="#">Наши преимущества</a></li>
        <li class="header-nav__link"><a href="#">Контакты</a></li>
    </ul>
    </nav>

    <div class="header-tel">
    <div class="pulse">
        <img class="tel-icon" src="img/telephone.svg" alt="">
    </div>
    <div class="header-tel__box">
        <span class="header-tel__text">Звоните</span>
        <a href="tel:+74959213001">+7 (495) 921-30-01</a>
    </div>
    </div>

    <div class="header-watsapp">
    <img src="img/headerWatsapp.svg" alt="wats-app">
    <span class="header-watsapp__text">
        WatsApp
    </span>
    <div class="header-watsapp__menu">
        <div>
        <span>Скрипт не настроен!</span>
        </div>
    </div>
    </div>

    <div class="header-burger">
    <button class="header-btn btn-reset">
        <svg class="header-burger__img" width="26" height="17" viewBox="0 0 26 17" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="26" height="3" rx="1.5" fill="#BBA182"/>
        <rect x="7.64703" y="7" width="18.3529" height="3" rx="1.5" fill="#BBA182"/>
        <rect y="14" width="26" height="3" rx="1.5" fill="#BBA182"/>
        </svg>
    </button>
    </div>
</div>
</header>