<section class="topblock">

    <div class="container topblock-container">
        <div class="topblock-info">
            <ul class="reward__list">
                <li class="reward__item">
                    <svg>
                        <use xlink:href="img/sprite.svg#reward1"></use>
                    </svg>
                </li>
                <li class="reward__item">
                    <svg>
                        <use xlink:href="img/sprite.svg#reward2"></use>
                    </svg>
                </li>
                <li class="reward__item">
                    <svg>
                        <use xlink:href="img/sprite.svg#reward3"></use>
                    </svg>
                </li>
            </ul>

            <h1 class="topblock-info__title">
                Построим <span>долговечный</span><br>
                и <span>комфортный</span> загородный дом
            </h1>
            <p class="topblock-info__descr">
                Мы – профессиональная строительная компания, предоставляющая услуги
                по строительству каркасных и брусчатых домов, возведению фундамента,
                а так же внутренней отделке.
            </p>
            <div class="topblock-info__button">
                <div>
                    <a href="#">Рассчитать стоимость</a>
                </div>
            </div>
        </div>
        <div class="topblock-right">
            <div class="topblock-right__video">
                <svg class="play-btn">
                    <use xlink:href="img/sprite.svg#play-btn"></use>
                </svg>
                <span>смотреть видео</span>
            </div>
            <div class="topblock-right__services">
                <ul class="topblock-right__list">
                    <li class="topblock-right__item">
                        <svg width="28" height="29">
                            <use xlink:href="img/sprite.svg#topblock-right-tel"></use>
                        </svg>
                    </li>
                    <li class="topblock-right__item">
                        <svg width="32" height="32">
                            <use xlink:href="img/sprite.svg#topblock-right-watsapp"></use>
                        </svg>
                    </li>
                    <li class="topblock-right__item">
                        <svg width="28" height="28">
                            <use xlink:href="img/sprite.svg#topblock-right-calc"></use>
                        </svg>
                    </li>
                    <li class="topblock-right__item">
                        <svg width="29" height="29">
                            <use xlink:href="img/sprite.svg#topblock-right-pdf"></use>
                        </svg>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>