html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: linear-gradient(90deg, rgba(32, 31, 36, 0.96) 31.85%, rgba(32, 31, 36, 0.69) 100%);
  margin: 0;
  font-family: "Avenir Next Cyr", sans-serif;
  font-weight: 400;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #fff;
}

p {
  margin: 0;
  padding: 0;
}

.site-container {
  overflow: hidden; // если используете на сайте position: sticky - уберите эту настройку
}

.is-hidden {
  display: none !important; // stylelint-disable-line declaration-no-important
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1730px;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}
